@media (max-width: 1200px) {
    .weather-data {
        grid-template-columns: repeat(3, 1fr);
        & .weather-right {
            grid-column: span 2;
            & .highlights {
                grid-template-columns: repeat(3, 1fr);
                & .card-weather:nth-of-type(1) {
                    grid-column: span 3;
                }
            }
            & .hourly-forecast {
                grid-template-columns: repeat(6, 1fr);
            }
        }
    }
}
@media (max-width: 1140px) {
    .weather-data {
        grid-template-columns: repeat(2, 1fr);
        & .weather-right {
            grid-column: span 1;
            & .highlights {
                grid-template-columns: repeat(2, 1fr);
                & .card-weather:nth-of-type(1) {
                    grid-column: span 2;
                }
            }
            & .hourly-forecast {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}
@media (max-width: 992px) {
    .weather-data .weather-right .highlights {
        & .card-weather {
            grid-column: span 2;
        }
        & .air-indices {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media (max-width: 850px) {
    .header {
            flex-direction: column;
            & h2 {
                margin-bottom: 8px;
            }
            & #city_input,
            #search_btn,
            #location_btn {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    .weather-data {
        grid-template-columns: 1fr;
        & .weather-right .highlights {
            & .card-weather:nth-of-type(3),
            & .card-weather:nth-of-type(4),
            & .card-weather:nth-of-type(5),
            & .card-weather:nth-of-type(6),
            & .card-weather:nth-of-type(7) {
                grid-column: span 1;
            }
            & .air-indices {
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }
}
@media (max-width: 580px) {
    .weather-data .weather-right .highlights .air-indices {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 580px) {
    .weather-data .weather-right .highlights {
        & .card-weather:nth-of-type(3),
            & .card-weather:nth-of-type(4),
            & .card-weather:nth-of-type(5),
            & .card-weather:nth-of-type(6),
            & .card-weather:nth-of-type(7) {
                grid-column: span 2;
            }
        & .air-indices {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media (max-width: 480px) {
    .weather-data .weather-right .highlights .sunrise-sunset {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 450px) {
    .weather-data .weather-right .hourly-forecast {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 380px) {
    .weather-data .weather-right .highlights .air-indices {
        grid-template-columns: repeat(2, 1fr);
    }
}